header {
    display: flex;
    position: fixed;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
}

header img {
    display: inline-flex;
    padding: 10px 10px 10px 20px;
}

.logo {
    display: inline-flex;
    align-items: center;
    color: mediumaquamarine;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right:40px;
}

nav span {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

nav a {
    color: black;
}